@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

body {
	overflow-x: hidden;
}

img {
	display: inline-block;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
